<!-- Heading -->
<div class="heading">

    <!-- Heading -->
    <div>
        <h1>Products</h1>
    </div>

</div>

<!-- Filters -->
<div class="filters">
    <app-product-filters
        [defaultFilters]="defaultFilters"
        (filtersChanged)="updateFilters($event)"
    ></app-product-filters>
</div>

<!-- Data -->
<shared-table
    [dataSource]="dataSource"
    [columnConfig]="columnConfig"
    [service]="productService"
    [filters]="filters"
    [paginatorConfig]="paginatorConfig"
    [showReloadDataButton]="false"
    [actionButtonConfig]="actionButtonConfig"
    [defaultSortCol]="'code'"
    (actionButtonClick)="onActionButtonClick($event)"
    (rowClick)="onRowClick($event)"
></shared-table>
