<div class="expansion-panel">

    <mat-accordion>

        <mat-expansion-panel>

            <!-- Panel Header -->
            <mat-expansion-panel-header>

                <!-- Panel Title -->
                <mat-panel-title>
                    Filter Options
                </mat-panel-title>

                <!-- Panel Description -->
                <mat-panel-description>

                    <!-- Settings Icon -->
                    <mat-icon>filter_alt</mat-icon>

                    <!-- Filters Applied -->
                    <span *ngIf="filterText">
                        {{ filterText }}
                    </span>

                    <!-- Message to be shown on the panel -->
                    <span *ngIf="message" class="message" [innerHtml]="message | safeHtml"></span>

                </mat-panel-description>

            </mat-expansion-panel-header>

            <!-- Filters -->
            <form>

                <!-- Product Filters -->
                <fieldset class="field_set">

                    <legend>
                        Product Filters
                    </legend>

                    <div class="filter-container">

                        <!-- Product Code -->
                        <mat-form-field>

                            <mat-label>
                                Product Code
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.code"
                                placeholder="e.g. F_FIXD_170125_190630_DD"
                                (input)="onCodeInput($event)"
                            >
                            <button
                                *ngIf="filterFormControls.code.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.code.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Product Full Name -->
                        <mat-form-field>

                            <mat-label>
                                Product Full Name
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.full_name"
                                placeholder="e.g. Fixd-Jun19-v2.0-DD"
                            >

                            <button
                                *ngIf="filterFormControls.full_name.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.full_name.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Product Display Name -->
                        <mat-form-field>

                            <mat-label>
                                Product Display Name
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.display_name"
                                placeholder="e.g. ENGIE Fixed June 19 v2-DD"
                            >

                            <button
                                *ngIf="filterFormControls.display_name.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.display_name.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Product Description -->
                        <mat-form-field>

                            <mat-label>
                                Product Description
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.description"
                                placeholder="e.g. A great deal!"
                            >

                            <button
                                *ngIf="filterFormControls.description.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.description.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Brand -->
                        <mat-form-field>

                            <mat-label>
                                Brand
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.brand"
                                placeholder="e.g. OCTOPUS ENERGY"
                                (input)="onBrandInput($event)"
                            >

                            <button
                                *ngIf="filterFormControls.brand.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.brand.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Direction -->
                        <mat-form-field>

                            <mat-label>
                                Direction
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.direction"
                                placeholder="e.g. IMPORT"
                                (input)="onDirectionInput($event)"
                            >

                            <button
                                *ngIf="filterFormControls.direction.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.direction.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                    </div>

                </fieldset>

                <div class="fieldset-spacer">

                </div>

                <!-- Product Filters -->
                <fieldset class="field_set">

                    <legend>
                        Boolean Filters
                    </legend>

                    <div class="filter-container">

                        <!-- Is Variable -->
                        <mat-radio-group [formControl]="filterFormControls.is_variable">
                            <mat-radio-button [value]="1">Variable</mat-radio-button>
                            <mat-radio-button [value]="0">Fixed</mat-radio-button>
                            <mat-radio-button [value]="null">Both</mat-radio-button>
                        </mat-radio-group>

                        <!-- Is Green -->
                        <mat-radio-group [formControl]="filterFormControls.is_green">
                            <mat-radio-button [value]="1">Green</mat-radio-button>
                            <mat-radio-button [value]="0">Not Green</mat-radio-button>
                            <mat-radio-button [value]="null">Both</mat-radio-button>
                        </mat-radio-group>

                        <!-- Is Tracker -->
                        <mat-radio-group [formControl]="filterFormControls.is_tracker">
                            <mat-radio-button [value]="1">Tracker</mat-radio-button>
                            <mat-radio-button [value]="0">Not Tracker</mat-radio-button>
                            <mat-radio-button [value]="null">Both</mat-radio-button>
                        </mat-radio-group>

                        <!-- Is Prepay -->
                        <mat-radio-group [formControl]="filterFormControls.is_prepay">
                            <mat-radio-button [value]="1">Prepay</mat-radio-button>
                            <mat-radio-button [value]="0">Credit</mat-radio-button>
                            <mat-radio-button [value]="null">Both</mat-radio-button>
                        </mat-radio-group>

                        <!-- Is Business -->
                        <mat-radio-group [formControl]="filterFormControls.is_business">
                            <mat-radio-button [value]="1">Business</mat-radio-button>
                            <mat-radio-button [value]="0">Domestic</mat-radio-button>
                            <mat-radio-button [value]="null">Both</mat-radio-button>
                        </mat-radio-group>

                        <!-- Is Restricted -->
                        <mat-radio-group [formControl]="filterFormControls.is_restricted">
                            <mat-radio-button [value]="1">Restricted</mat-radio-button>
                            <mat-radio-button [value]="0">Unrestricted</mat-radio-button>
                            <mat-radio-button [value]="null">Both</mat-radio-button>
                        </mat-radio-group>

                    </div>

                </fieldset>

            </form>

        </mat-expansion-panel>

    </mat-accordion>

</div>
