<div class="expansion-panel">

    <mat-accordion>

        <mat-expansion-panel>

            <!-- Panel Header -->
            <mat-expansion-panel-header>

                <!-- Panel Title -->
                <mat-panel-title>
                    Filter Options
                </mat-panel-title>

                <!-- Panel Description -->
                <mat-panel-description>

                    <!-- Settings Icon -->
                    <mat-icon>filter_alt</mat-icon>

                    <!-- Filters Applied -->
                    <span *ngIf="filterText">
                        {{ filterText }}
                    </span>

                    <!-- Message to be shown on the panel -->
                    <span *ngIf="message" class="message" [innerHtml]="message | safeHtml"></span>

                </mat-panel-description>

            </mat-expansion-panel-header>

            <!-- Filters -->
            <form>

                <!-- Product Filters -->
                <fieldset class="field_set">

                    <legend>
                        Product Filters
                    </legend>

                    <div class="filter-container">

                        <!-- Product Code -->
                        <mat-form-field>

                            <mat-label>
                                Product Code
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.code"
                                placeholder="e.g. F_FIXD_170125_190630_DD"
                                (input)="onCodeInput($event)"
                            >
                            <button
                                *ngIf="filterFormControls.code.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.code.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Product Full Name -->
                        <mat-form-field>

                            <mat-label>
                                Product Full Name
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.full_name"
                                placeholder="e.g. Fixd-Jun19-v2.0-DD"
                            >

                            <button
                                *ngIf="filterFormControls.full_name.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.full_name.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Product Display Name -->
                        <mat-form-field>

                            <mat-label>
                                Product Display Name
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.display_name"
                                placeholder="e.g. ENGIE Fixed June 19 v2-DD"
                            >

                            <button
                                *ngIf="filterFormControls.display_name.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.display_name.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Product Description -->
                        <mat-form-field>

                            <mat-label>
                                Product Description
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.description"
                                placeholder="e.g. A great deal!"
                            >

                            <button
                                *ngIf="filterFormControls.description.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.description.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Brand -->
                        <mat-form-field>

                            <mat-label>
                                Brand
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.brand"
                                placeholder="e.g. OCTOPUS ENERGY"
                                (input)="onBrandInput($event)"
                            >

                            <button
                                *ngIf="filterFormControls.brand.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.brand.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                        <!-- Direction -->
                        <mat-form-field>

                            <mat-label>
                                Direction
                            </mat-label>

                            <input
                                matInput
                                [formControl]="filterFormControls.direction"
                                placeholder="e.g. IMPORT"
                                (input)="onDirectionInput($event)"
                            >

                            <button
                                *ngIf="filterFormControls.direction.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="filterFormControls.direction.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>

                    </div>

                </fieldset>

                <div class="fieldset-spacer">

                </div>

                <!-- Boolean Filters -->
                <fieldset class="field_set">

                    <legend>
                        Boolean Filters
                    </legend>

                    <div class="filter-container">

                        <!-- Is Variable -->
                        <shared-select
                            label="Is Variable"
                            [fControl]="filterFormControls.is_variable"
                            [data]="[ { id: 1, name: 'Variable' }, { id: 0, name: 'Fixed' }]"
                        ></shared-select>

                        <!-- Is Green -->
                        <shared-select
                            label="Is Green"
                            [fControl]="filterFormControls.is_green"
                            [data]="[ { id: 1, name: 'Green' }, { id: 0, name: 'Not Green' }]"
                        ></shared-select>

                        <!-- Is Tracker -->
                        <shared-select
                            label="Is Tracker"
                            [fControl]="filterFormControls.is_tracker"
                            [data]="[ { id: 1, name: 'Tracker' }, { id: 0, name: 'Not Tracker' }]"
                        ></shared-select>

                        <!-- Is Prepay -->
                        <shared-select
                            label="Is Prepay"
                            [fControl]="filterFormControls.is_prepay"
                            [data]="[ { id: 1, name: 'Prepay' }, { id: 0, name: 'Credit' }]"
                        ></shared-select>

                        <!-- Is Business -->
                        <shared-select
                            label="Is Business"
                            [fControl]="filterFormControls.is_business"
                            [data]="[ { id: 1, name: 'Business' }, { id: 0, name: 'Domestic' }]"
                        ></shared-select>

                        <!-- Is Restricted -->
                        <shared-select
                            label="Is Restricted"
                            [fControl]="filterFormControls.is_restricted"
                            [data]="[ { id: 1, name: 'Restricted' }, { id: 0, name: 'Unrestricted' }]"
                        ></shared-select>

                    </div>

                </fieldset>

            </form>

        </mat-expansion-panel>

    </mat-accordion>

</div>
